<script src="/assets/nicEdit.js" type="text/javascript"></script>
<script type='text/javascript'> loadAmber({ready: function() {smalltalk.Browser._open()}}) </script>

<span id="test">
  Test for <b>HTML wysiwyg</b> editor!
</span>

<div id="temp-render" style="display: none;">

</div>

<div id="container">

</div>

